:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito: purple;
    --fonte-principal: 'Inter';
    --tamanho-de-fonte-titulo-bold: 48px;
    --tamanho-de-fonte-titulo-citacao: 32px;
    --tamanho-de-fonte-titulo: 28px;
    --tamanho-de-fonte-padrão: 16px;
    --tamanho-de-fonte-direitos: 14px;
    --tamanho-de-fonte-miuda: 12px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-de-fonte-padrão);
    font-weight: 400;
}

.principal{
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_caixa{
    margin: 0 6em;
}

.container_titulo{
    font-size: var(--tamanho-de-fonte-titulo);
}

.container_imagem{
   margin: 1em 0 2em 0;

}

.container_botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container_aviso{
    font-size: var(--tamanho-de-fonte-miuda);
    color: var(--cinza-secundario);
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.container_descricao{
    padding: 2em;
}

.secundario_imagem{
    width:80%;   
}

.descricao_titulo{
    font-weight: 700;
    font-size: var(--tamanho-de-fonte-titulo-bold);
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao_texto{
    color: var(--cinza-secundario);
}

.secundario_botao{
    display: inline-block;
    margin: 1em;
}

.dispositivos{
    text-align: center;
}

.dispositivos_titulo{
    font-size: var(--tamanho-de-fonte-titulo-bold);
    color: var(--branco-principal);
}

.dispositivos_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista_item{
    font-size: var(--tamanho-de-fonte-titulo-citacao);
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    margin: 0 3em;
}

.rodape_logo{
    margin-bottom: 2em;
}

.rodape_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista_link_item{
    color: var(--branco-principal);
    margin-left: 1em;
    text-decoration: none;
}

.rodape_texto{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: var(--tamanho-de-fonte-direitos);
}

.lista_link a:hover{
    color: var(--botao-azul);
}

.lista_link a:active{
    color: var(--botao-azul-efeito);
}

.container_botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}