@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght400;600&display=swap');

*{ /*vai pegar todos os elementos da pag*/
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

strong.titulo_destaque{
    color: aqua;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao_conteudo_texto{
    font-size: 24;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo{
    font-family: 'Krona one',sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao_links_link{
    border: 2px solid aqua;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}